{% extends "base.html" %}
{% load keyvalue %}

{% block title %}PIT{% endblock %}

{% block imports %}
{% endblock imports %}

{% block content %}

<h1>Horarios públicos y recursos</h1>
<p>Material extra:</p>
<ul>
    <li><a href="/static/wallpaper.jpg">Fondo de escritorio</a></li>
    <li><a href="https://support.mozilla.org/en-US/questions/1269565">Cómo quitar la caja de estado en Firefox</a></li>
{% for enlaceextra in enlacesextra %}
    <li><a href="{{ enlaceextra.enlace }}">{{ enlaceextra.texto }}</a></li>
{% endfor %}
</ul>
<p>Enlaces a horarios públicos:</p>
<ul>
{% if datos.salas|length > 1 %}
    <li><a href="{% url 'pit:horario' sala=0 %}">Todas las mesas</a></li>
{% endif %}
{% for sala in salas %}
    <li><a href="{% url 'pit:horario' sala=sala.id %}">{{ sala.nombre }}</a></li>
{% endfor %}
</ul>
<p>Enlaces a horarios públicos 1920x1080:</p>
<ul>
{% if datos.salas|length > 1 %}
    <li><a href="{% url 'pit:horario1080' sala=0 %}">Todas las mesas</a></li>
{% endif %}
{% for sala in salas %}
    <li><a href="{% url 'pit:horario1080' sala=sala.id %}">{{ sala.nombre }}</a></li>
{% endfor %}
</ul>
<p>Enlaces a horarios para web pública:</p>
<ul>
{% if datos.salas|length > 1 %}
    <li><a href="{% url 'pit:horariostatic' sala=0 %}">Todas las mesas</a></li>
{% endif %}
{% for sala in salas %}
    <li><a href="{% url 'pit:horariostatic' sala=sala.id %}">{{ sala.nombre }}</a></li>
{% endfor %}
</ul>

<p><a href="{% url 'pit:index' %}">Volver atrás</a></p>
{% endblock content %}
