#statuspanel {
   display: none !important;

}
body.horario {
    background-image: url("/static/fondo-horario.png");
    background-repeat: no-repeat;
    width: 1024px;
    height: 768px;
    /* Estos es para evitar las barras de desplazamiento del navegador */
    overflow: hidden;
}
h1.horariopit {
    text-align: center;
    font-family: Sans-Serif;
    margin-top: 1%;
    margin-bottom: 1%;
    font-size: 5em;
    color: white;
}
table.horariopit {
    border-collapse: collapse;
    border: 1px solid black;
    background-color: white;
    font-family: Sans-Serif;
    text-align: center;
    width: 90%;
    margin: auto;
}
table.horariopit td {
    border: 3px solid black;
    padding: 1em;
    height: 1em;
    font-size: 2em;
    font-weight: bold;
    padding: 15px;
}
table.horariopit td:first-child {
    width: 5em;
    text-align: right;
}
table.horariopit th {
    border: 3px solid black;
    background: black;
    color: white;
    font-size: 2em;
    font-weight: bold;

}
p.info {
    border: 2px solid blue;
    padding: 5px;
}
p.error {
    border: 2px solid red;
    padding: 5px;
}
p.fechahorasrv {
    font-size: 0.7em;
    position: fixed;
    bottom: 0;
    margin: 0;
}