h1.horariopit {
    text-align: center;
    font-family: Sans-Serif;
}
table.horariopit {
    border-collapse: collapse;
    border: 1px solid black;
    font-family: Sans-Serif;
    text-align: center;
    width: 75%;
    margin: auto;
}
table.horariopit td {
    border: 3px solid black;
    padding: 1em;
}
table.horariopit td:first-child {
    width: 5em;
    text-align: right;
}
table.horariopit th {
    border: 3px solid black;
    background: black;
    color: white;
}
p.info {
    border: 2px solid blue;
    padding: 5px;
}
p.error {
    border: 2px solid red;
    padding: 5px;
}
p.fechahorasrv {
    font-size: 0.7em;
}