body.horario {
    background-image: url("/static/fondo-horario.png");
}
h1.horariopit {
    text-align: center;
    font-family: Sans-Serif;
    padding-left: 22%;
    width: 75%;
    margin-top: 12%;
    font-size: 3em;
}
table.horariopit {
    border-collapse: collapse;
    border: 1px solid black;
    background-color: white;
    font-family: Sans-Serif;
    text-align: center;
    width: 75%;
    margin-left: 22%;
}
table.horariopit td {
    border: 3px solid black;
    padding: 1em;
}
table.horariopit td:first-child {
    width: 5em;
    text-align: right;
}
table.horariopit th {
    border: 3px solid black;
    background: black;
    color: white;
}
p.info {
    border: 2px solid blue;
    padding: 5px;
}
p.error {
    border: 2px solid red;
    padding: 5px;
}
p.fechahorasrv {
    font-size: 0.7em;
    position: fixed;
    bottom: 0;
}