{% load static %}<!DOCTYPE html>
<html lang="es">
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <title>{% block title %}FLL{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
  {% block metas %}{% endblock %}
  {% block imports %}{% endblock %}
</head>
<body{% block bodytags %}{% endblock %}>

{% if user.is_authenticated or '/horario/' in request.path or '/horario1080/' in request.path or '/horariostatic/' in request.path %}
{% if '/horario/' not in request.path and '/horario1080/' not in request.path and '/horariostatic/' not in request.path %}<p><a href="{% url 'logout' %}">Log Out</a></p>{% endif %}
{% if messages %}
    {% for message in messages %}
    <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
    {% endfor %}
{% endif %}
{% block content %}{% endblock %}
{% else %}
{% block unsecurecontent %}<p><a href="{% url 'login' %}">Log In</a></p>{% endblock %}
{% endif %}
</body>
</html>
